[advisories]
version = 2

[licenses]
version = 2
confidence-threshold = 1.0
allow = [
    "MIT",
    "Apache-2.0",
    "ISC",
    "MPL-2.0",
    "BSD-3-Clause",
    "BSD-2-Clause",
    "Zlib",
    "CC0-1.0",
]
exceptions = [
    { allow = ["OpenSSL"], name = "ring" },
    { allow = ["Unicode-DFS-2016"], name = "unicode-ident" }
]
private.ignore = true

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[[licenses.clarify]]
name = "webpki"
expression = "ISC"
license-files = [{ path = "LICENSE", hash = 0x001c7e6c }]

[bans]
multiple-versions = "allow"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-git = ["https://github.com/Verseghy/iam"]
