apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: kafka-cluster
  namespace: matverseny-backend
spec:
  kafka:
    template:
      podDisruptionBudget:
        maxUnavailable: 0
    version: 3.4.0
    replicas: 1
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
    config:
      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1
      default.replication.factor: 1
      min.insync.replicas: 1
      inter.broker.protocol.version: "3.4"
    storage:
      type: persistent-claim
      size: 1Gi
      deleteClaim: true
  zookeeper:
    template:
      podDisruptionBudget:
        maxUnavailable: 0
    replicas: 1
    storage:
      type: ephemeral
  entityOperator:
    template:
      topicOperatorContainer:
        env:
          - name: STRIMZI_USE_ZOOKEEPER_TOPIC_STORE
            value: true