[package]
name = "macros"
version.workspace = true
edition.workspace = true
publish.workspace = true
license-file.workspace = true

[lib]
proc-macro = true

[lints]
workspace = true

[dependencies]
proc-macro2 = "1.0.69"
quote = "1.0.33"
syn = { version = "2.0.39", features = ["parsing"] }
